/*
*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*
*/

/* =Reset
----------------------------------------------- */
@import "reset";
/* =Twitter Bootstrap
----------------------------------------------- */
@import "bootstrap";
//@import "bootstrap-responsive";

/* =Global
----------------------------------------------- */

//variables

$terminal-colour: green;

html {
	//ensure users cannot brose the app by scrolling
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

body {
	background: url('../img/bg.png');
}

.warning-message {
	&.hidden {
		display: none;
	}
}

.terminal {
	height: 100%;
	width: 100%;
	overflow: hidden;

	padding-top: 30px;

	background: black;
	color: $terminal-colour;
	font-family: 'Courier New', 'Courier', monospace;

	ul.terminal-content {
		list-style: none;
		
		li {
			display: block;
			line-height: 35px;
			font-size: 2.0em;
			vertical-align: top;
		}
		.cursor {
			&:not(blinking) {
				display: none;
			}
			&.blinking {
				display: inline-block;
			}
			background: $terminal-colour;
			position: relative;
			height: 25px;
			width: 2px;
			top: 4px;
		}
	}

	&.hidden {
		display: none;
	}
}

#impress {
	//width: 100%;

	&>:first-child {
		//impress wraps all presentatin content in a div on runtime
		//this rule makes that div width 100% to allow for relative
		//sizing of slides within it
		width: 100%;
	}
	.step {
		width: 80%;
		text-align: center;

		border: solid black 1px;
		
		-moz-box-shadow:    10px 10px 25px 10px #ccc;
		-webkit-box-shadow: 10px 10px 25px 10px #ccc;
		box-shadow:         10px 10px 25px 10px #ccc;
		h2 {
			font-size: 3.5em;
			margin-bottom: 0.5em;
		}
		h3 {
			display: inline;
			margin: 0 10px;
		}
		img {
			height: 180px;
			margin-bottom: 20px;
		}
		.btn {
			font-size: 3.0em;
			height: 1.5em;

			&.go-again {
				display: block;
				margin: 10px auto;
				font-size: 2.0em;
				height: 1.5em;
			}
		}
	}
}


/* =Media Queries / Responsive Styles Imports
----------------------------------------------- */
@import "desktop";
@import "tablet";
@import "mobile";
@import "device-specific";
