/*
*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*
*/

/* =Reset
----------------------------------------------- */
@import "reset";
/* =Twitter Bootstrap
----------------------------------------------- */
@import "bootstrap";
//@import "bootstrap-responsive";

/* =Global
----------------------------------------------- */

html {
	//ensure users cannot brose the app by scrolling
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

#impress {
	//width: 100%;

	&>:first-child {
		//impress wraps all presentatin content in a div on runtime
		//this rule makes that div width 100% to allow for relative
		//sizing of slides within it
		width: 100%;
	}
}
.step {
	width: 80%;
	text-align: center;
}


/* =Media Queries / Responsive Styles Imports
----------------------------------------------- */
@import "desktop";
@import "tablet";
@import "mobile";
@import "device-specific";
